
/* https://coolors.co/577590-f3ca40-f2a541-f08a4b-d78a76 */

.root{
    -fx-background-color: #247BA0;/*#577590;*/
    -fx-font-family: "Helvetica";
}

.button {
    -fx-background-color: #13293D;/*#F3CA40; */
    -fx-background-radius: 5,4,3,5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5 10 5 10;
}



.text-field {
    -fx-font-color: #E8F1F2;/*#F3CA40; */
    -fx-text-fill: #E8F1F2;/*#F3CA40; */
    -fx-prompt-text-fill: #E8F1F2;/*#F3CA40; */
    -fx-background-color: -fx-text-box-border, #247BA0;/*#577590 ;*/
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font-size: 15px;
    -fx-padding: 3 3 3 3;
}

#aggiuntaPaziente {
    -fx-background-radius: 12 12 12 12;
    -fx-padding: 1 7 1 7;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #E8F1F2;/*#F3CA40; */
    -fx-font-size: 14px;
}

/* COMBO BOX */

.combo-box-base {
    -fx-font-size: 14px;
    -fx-border-radius: 12;
    -fx-border-color: #1B98E0;/*#F08A4B;*/
    -fx-font-weight: normal;
    -fx-background-color: transparent;
}

.combo-box .cell{
    -fx-text-fill: #E8F1F2;/*#F3CA40; */
}

.combo-box .arrow {
    -fx-background-color: #1B98E0;/*#F08A4B;*/
}

/* DATE PICKER */

.date-picker {
    -fx-border-color: #1B98E0;/*#F08A4B;*/
    -fx-background-color: transparent;
}

.date-picker .arrow-button{
    -fx-background-color: transparent;
}

.date-picker .arrow{
    -fx-background-color: #1B98E0;/*#F08A4B;*/
}

.date-picker > .text-field {
    -fx-background-color: transparent;
}

/* CHECK BOX */

.check-box {
    -fx-text-fill: #E8F1F2;/*#F3CA40; */
}

.check-box .box {
    -fx-background-color: #006494;/*#D78A76;*/
}

.check-box:selected .mark {
    -fx-background-color: #E8F1F2;/*#F3CA40; */
}

